
h1 {
	height:50px;
	width: 400px;
	font-family:Arial;
}

.hilfetest {
	background-color: yellow;
}

#Hilfe {
	font-family:Arial;
	position:absolute;
	top:50px;
	right:100px;
	padding-bottom:500px;
	padding-left:10px;
	border: 1px solid black;
	width: 400px;
	height:700px;
	text-align:left;

}

.Hilfe {
	font-family:Arial;
	position:absolute;
	text-align: center;
	top:50px;
	right:100px;
	padding-bottom:500px;
	padding-left:10px;
	border: 1px solid black;
	text-align:left;
	width: 400px;
	height:700px;
	visibility: hidden;
}

.Kontakt_Eingabe {
	display: inline-block;
	height:25px;
	width: 350px;
		
}

label.Kontakt_View {
	display:inline-block;
	text-align:right;
	width:200px;
	font-family: Arial;
	margin-bottom: 10px;
	
}

#Kontakt_neu_Wrapper{
	position:relative;
	top:50px;
	right:200px;
	}
	

#Adresslisten_select {
 border: 1px solid black;
 width:350px;
 text-align: left;
 padding-left: 10px;
 position: relative;
 left:102px;

}


#suche_wrapper {
	position: relative;
	top:50px;
	right:100px;
}

#suche_ergebnisse {
	width: 350px;
	text-align: left;
	position: relative;
	right:85px;
}

.suchfeld {
	width:400px;
}

